<!DOCTYPE html>
<html>

{% include 'index-header.html'%}

<body>
    <span class="mobile btn-mobile-menu">
        <i class="icon icon-list btn-mobile-menu__icon"></i>
        <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i> Menu
    </span>

{% include 'body-header.html'%}

  	<div class="content-wrapper__full">
      	<div class="content-wrapper__inner">
          	<h1 id="about">About us</h1>
          	<p>
            	Our group consists of about 30 physicists at many levels (students, post-docs, lab scientists and faculties) and we are keen to share development effort in all aspects of the research, from software tools and algorithms to high level physics analysis methods.
            	Experiments our group members are involved include  
            	<a href="http://microboone.fnal.gov">MicroBooNE</a>, <a href="http://sbn-nd.fnal.gov">SBND</a>, 
            	<a href="http://icarustrip.fnal.gov/about-icarus/">ICARUS</a>, <a href="http://next.ific.uv.es/next/">NEXT</a>,
            	and <a href="http://www.dunescience.org">DUNE</a>. 
         	</p>
          	<p>
            	Your inputs to improve any aspect of our effort will be very much appreciated! Please feel free to <a href={{ CONTACT }}> contact us</a>. You are welcome to join our <a href="https://groups.google.com/forum/#!forum/deeplearnphysics"> mailing list</a> and engage in discussions at our weekly meetings. 
          	</p>

	    	<h1> Active Participants (Short List) </h1>
	    	<p>
	    		Find a short list of active participants! These are contributors who twist their heads around ML at least 50% of their FTE OR have made important contributions (hardware/software/computing resource). They make our research interesting!
	    	</p>
		  	<table align="center" width="100%">                                                                                    
    		<tr>
      			<td>
      				<div align="center"> <img class="user-image" src="{{ THEME_STATIC_DIR }}/images/kazu_round.png" title="Kazuhiro Terao"></div>
			  		<p align="center" class="about">
			  			<a href="codingkazu.com">Kazuhiro Terao</a> (organizer) <br>
		        		Associate Staff Scientist<br>
		        		<a href="https://www6.slac.stanford.edu/research/elementary-particle-physics">SLAC Lab.</a>, Menlo Park, CA<br>
			        	<a href="http://microboone.fnal.gov">MicroBooNE</a>,
		    	        <a href="http://icarustrip.fnal.gov/about-icarus/">ICARUS</a>,
		        	    <a href="http://www.dunescience.org">DUNE</a>
				    </p>
			    </td>
	      		<td>
	      			<div align="center"> <img class="user-image" src="{{ THEME_STATIC_DIR }}/images/corey_round.jpg" title="Corey Adams"></div>
				  	<p align="center" class="about">
			        	<a href="mailto:coreyadams@fas.harvard.edu">Corey Adams</a> (co-leader) <br> 
			        	Postdoctoral Research Fellow <br>
			        	<a href="https://www.physics.harvard.edu">Harvard U.</a>, Cambridge, MA<br>
			        	<a href="http://microboone.fnal.gov">MicroBooNE</a>,
			            <a href="http://sbn-nd.fnal.gov">SBND</a>,
			            <a href="http://next.ific.uv.es/next/">NEXT</a>
				    </p>
			    </td>
		      	<td>
		      		<div align="center"> <img class="user-image" src="{{ THEME_STATIC_DIR }}/images/taritree.jpg" title="Taritree Wongjirad"></div>
				  	<p align="center" class="about">
			        	<a href="Taritree.Wongjirad@tufts.edu"> Taritree Wongjirad</a> (co-leader) <br> 
			        	Assistant Professor (PI) <br>
			        	<a href="http://as.tufts.edu/physics/">Tufts U.</a>, Medford, MA <br>
			        	<a href="http://microboone.fnal.gov">MicroBooNE</a>,
			        	<a href="http://sbn-nd.fnal.gov">SBND</a>,
			            <a href="http://www.dunescience.org">DUNE</a>
				    </p>
			    </td>
			</tr>
			<tr>
		      	<td>
		      		<div align="center"> <img class="user-image" src="{{ THEME_STATIC_DIR }}/images/TracyUsher.png" title="Tracy Usher"></div>
				  	<p align="center" class="about">
			        	<a href="usher@slac.stanford.edu"> Tracy Usher</a><br> 
			        	Staff Scientist <br>
		        		<a href="https://www6.slac.stanford.edu/research/elementary-particle-physics">SLAC Lab.</a>, Menlo Park, CA<br>
			        	<a href="http://microboone.fnal.gov">MicroBooNE</a>,
		    	        <a href="http://icarustrip.fnal.gov/about-icarus/">ICARUS</a>,
		        	    <a href="http://www.dunescience.org">DUNE</a>
				    </p>
			    </td>
		      	<td>
		      		<div align="center"> <img class="user-image" src="{{ THEME_STATIC_DIR }}/images/MichaelMooneyFake.png" title="Michael Mooney"></div>
				  	<p align="center" class="about">
			        	<a href="mrmooney@colostate.edu"> Michael Mooney</a><br> 
			        	Assistant Professor (PI) <br>
		        		<a href="https://www.physics.colostate.edu/our-people/michael-mooney/">Colorado State U.</a>, Fort Collins, CO<br>
			        	<a href="http://microboone.fnal.gov">MicroBooNE</a>,
			        	<a href="http://sbn-nd.fnal.gov">SBND</a>,
			            <a href="http://www.dunescience.org">DUNE</a>
				    </p>
			    </td>

		      	<td>
		      		<div align="center"> <img class="user-image" src="{{ THEME_STATIC_DIR }}/images/JoshuaSpitz.png" title="Michael Mooney"></div>
				  	<p align="center" class="about">
			        	<a href="spitzj@umich.edu"> Joshua Spitz</a><br> 
			        	Assistant Professor (PI) <br>
		        		<a href="http://www-personal.umich.edu/~spitzj/Spitz_group_at_UM/Home.html">U. of Michigan</a>, Ann Arbor, MI<br>
			        	<a href="http://microboone.fnal.gov">MicroBooNE</a>,
			        	<a href="http://sbn-nd.fnal.gov">SBND</a>,
			            <a href="http://www.dunescience.org">DUNE</a>
				    </p>
			    </td>
			</tr>
			<tr>
		      	<td>
		      		<div align="center"> <img class="user-image" src="{{ THEME_STATIC_DIR }}/images/noimage.png" title="Ralista Sharankova"></div>
				  	<p align="center" class="about">
			        	<a href="Ralitsa.Sharankova@tufts.edu"> Ralista Sharankova</a><br> 
			        	Postdoctoral Scholar <br>
			        	<a href="http://as.tufts.edu/physics/">Tufts U.</a>, Medford, MA <br>
			        	<a href="http://microboone.fnal.gov">MicroBooNE</a>,
			        	<a href="http://sbn-nd.fnal.gov">SBND</a>,
			            <a href="http://www.dunescience.org">DUNE</a>
				    </p>
			    </td>
		      	<td>
		      		<div align="center"> <img class="user-image" src="{{ THEME_STATIC_DIR }}/images/VictorGenty.png" title="Victor Genty"></div>
				  	<p align="center" class="about">
			        	<a href="vgenty@nevis.columbia.edu"> Victor Genty</a><br> 
			        	Graduate Student <br>
			        	<a href="https://www.nevis.columbia.edu/~vgenty/">Columbia U.</a>, New York, NY <br>
			        	<a href="http://microboone.fnal.gov">MicroBooNE</a>,
			        	<a href="http://sbn-nd.fnal.gov">SBND</a>,
			            <a href="http://www.dunescience.org">DUNE</a>
				    </p>
			    </td>
		      	<td>
		      		<div align="center"> <img class="user-image" src="{{ THEME_STATIC_DIR }}/images/RuiAn.png" title="Rui An"></div>
				  	<p align="center" class="about">
			        	<a href="ran4@hawk.iit.edu"> Rui An</a><br> 
			        	Graduate Student <br>
			        	<a href="https://science.iit.edu/physics">IIT</a>, Chicago, IL <br>
			        	<a href="http://microboone.fnal.gov">MicroBooNE</a>,
			        	<a href="http://sbn-nd.fnal.gov">SBND</a>
				    </p>
			    </td>
			</tr>
	        <tr>
		      	<td>
		      		<div align="center"> <img class="user-image" src="{{ THEME_STATIC_DIR }}/images/SamanthaFehlberg.jpg" title="Samantha Sword-Fehlberg"></div>
				  	<p align="center" class="about">
			        	<a href="fehlberg@nmsu.edu"> Samantha Sword-Fehlberg</a><br> 
			        	Graduate Student <br>
			        	<a href="http://physics.nmsu.edu">NMSU</a>, Las Cruces, NM<br>
			        	<a href="http://microboone.fnal.gov">MicroBooNE</a>,
			        	<a href="http://sbn-nd.fnal.gov">SBND</a>
				    </p>
			    </td>
		      	<td>
		      		<div align="center"> <img class="user-image" src="{{ THEME_STATIC_DIR }}/images/jiwon.jpg" title="Ji Won Park"></div>
				  	<p align="center" class="about">
			        	<a href="jwp@stanford.edu"> Ji Won Park</a><br> 
			        	Graduate Student <br>
			        	<a href="https://physics.stanford.edu">Stanford U</a>, Stanford, CA<br>
			        	<a href="http://microboone.fnal.gov">MicroBooNE</a>,
			            <a href="http://icarustrip.fnal.gov/about-icarus/">ICARUS</a>,
			            <a href="http://www.dunescience.org">DUNE</a>
				    </p>
			    </td>
		      	<td>
		      		<div align="center"> <img class="user-image" src="{{ THEME_STATIC_DIR }}/images/LauraDomine.jpg" title="Laura Domine"></div>
				  	<p align="center" class="about">
			        	<a href="ldomine@stanford.edu"> Laura Domine</a><br> 
			        	Graduate Student (trial)<br>
			        	<a href="https://physics.stanford.edu">Stanford U</a>, Stanford, CA<br>
			        	<a href="http://microboone.fnal.gov">MicroBooNE</a>,
			            <a href="http://icarustrip.fnal.gov/about-icarus/">ICARUS</a>,
			            <a href="http://www.dunescience.org">DUNE</a>
				    </p>
			    </td>
	        </tr>                                                                             
		</table>  
	</div>
</div>


{% include 'body-footer.html'%}

{% include 'scripts.html'%}
<!--
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/main.js"></script>
-->
  </div>
</body>
</html>