<header class="panel-cover" style="background-image: url({{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/cover.jpg); background-position: center;">
    <div class="panel-main">
        <div class="panel-main__inner panel-inverted">
            <div class="panel-main__content">
            <a href="{{ SITEURL }}" title="link to home of DeepLearnPhysics">
                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/profile.png" class="user-image" alt="My Profile Photo">
                <h1 class="panel-cover__title panel-title">DeepLearnPhysics</h1>
            </a>
            <hr class="panel-cover__divider">
            <p  class="panel-cover__description">Research Organization</p>
            <hr class="panel-cover__divider panel-cover__divider--secondary">

                <div class="navigation-wrapper">

                    <nav class="cover-navigation cover-navigation--primary">
                        <ul class="navigation">
                        <li class="navigation__item"><a href="{{ SITEURL }}/#about" title="About the group" class="blog-button">About the group</a></li> 
                       </ul>
                    </nav>

                    <nav class="cover-navigation navigation--social">
                        <ul class="navigation">
            
                        <!-- GitHub -->
                        <li class="navigation__item">
                            <a href="https://www.github.com/DeepLearnPhysics" title="DeepLearnPhysics on GitHub" target="_blank">
                            <i class="icon icon-social-github"></i>
                            <span class="label">GitHub</span>Github
                            </a>
                        </li>
            
                        <!-- Email -->
                        <li class="navigation__item">
                            <a href="mailto:kterao@slac.stanford.edu" title="Email kterao@slac.stanford.edu" target="_blank">
                            <i class="icon icon-mail"></i>Email
                            <span class="label">Email</span>
                            </a>
                        </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="panel-cover--overlay"></div>
    </div>
</header>